.pricing{
    margin-top: 5rem;
}

.pricing__title{
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom : 1rem;
}


.course__card{
    background-color: #000000;
    color: #fff;
    padding: 2rem;
    border-radius: 6px;
    margin-top: 1rem;
}

.margin-null{
    margin: 0;
}